* /* INITIALISATION DE LA POLICE POUR TOUTE LA PAGE */
{
    
    font-family:'Raleway',Arial, Helvetica, sans-serif  ;
    margin:0px;
    padding:0px;
}
h1
{
    font-size: 22px;
}


/* Conteneur du header */
.container
{
    margin-left: 50px;
    margin-right: 53px;
}

/* HEADER */
header
{
    display: flex;
    
    justify-content: space-between;
    margin-top: 49px;
    
}

header nav ul
{   
    width: 447px;
    padding:0%;
    list-style: none;
    
    display: flex;
    justify-content: space-between;
}

header nav ul li a
{
    text-decoration: none;
    color: black;
    padding-top: 46px;
    padding-right: 30px;
    padding-left: 33.5px;
    
    
    
}
header nav ul li:nth-child(3) a 
{
    color: #0065fc;;
    font-weight: bold;
    padding-right: 24px;
    
    
}




header nav ul li a:hover
{
    color: #0065fc;
    border-top: 3px solid;
    
    border-top-color:  #0065fc;
}

/*  RECHERCHE*/

#recherche
{
    margin-top: 45px;
}
#precherche1
{
    margin-top: 14px;
}
#h1recherche1
{
    margin-bottom: 0px; ;
}

#logo
{
background-color: #F2F2F2;
border-bottom-left-radius: 20px ;
border-top-left-radius: 20px;
width: 52px;
height: 52px;

display: flex; 
align-items: center;
justify-content: center;


}
#champ
{
    display: flex;
    margin-top: 17px;
}
#champ div:nth-of-type(2) input 
{
    font-weight: bold;                  /* CHAMP TEXT */
    width: 234px;
    height: 48px;
    font-size: 16px;
    
    border:1px solid #F2F2F2;
    
}
   

#champ div:nth-of-type(3) input
{
    width: 135px;
    height: 53px;                       /* BOUTTON RECHERCHER*/
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#0065fc;
    color:white;
    font-weight: bold;
    font-size: 16px;
    border:1px solid #F2F2F2;
}
#champ div:nth-of-type(3) input:hover
{
    cursor: pointer;
    font-size: 17px;
}
#filtres
{
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    width: 930px;
}
.bordfiltre
{
    display: flex;
    border: 2px solid #d9d9d9;
    border-radius: 0px 30px 30px 0px;
    border-left: none;
    height: 46px;
    
}
#filtres div input:hover
{
    color:#0065fc;
    font-size: 22px;
    
}

.logfiltres
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 30px;
    color: #0065fc;
    border:none;
    position: relative;
    left: 30px;
}
#filtres h4
{
    align-self: center;
    font-size: 18.5px;
}
.filterbuttons
{
    
    align-self: center;
    height: 46px;
    border:none;
    background-color:transparent;
    padding-left: 30px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 18px;
}
#info
{
    display: flex;
    justify-content: space-between;
    width: 446px;
    margin-top: 35px;
}
#info div 
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
    width: 25px;
    height:25px;
    border:1px solid #d9d9d9;
    border-radius: 20px;
}
#info p
{
    align-self: center;
    font-size: 15.5px;
}


/* FOOTER */

footer
{
    background-color: #F2F2F2;
    height: 118px;
    margin-top: 53px;
    display: flex;
    
    padding:50px;
}
footer ul li a
{
    text-decoration: none;
    color: black;
}
footer ul li 
{
    list-style: none;
    padding-bottom: 9px;
}
footer h4
{
    
    font-size: 18px;
    margin-bottom: 23px;
}
#apropos
{
    margin-right: 227px;
}
#noshebergements
{
    margin-right: 292px;
}
footer ul li a:hover
{
    font-weight: bold;
    
}