* /* INITIALISATION DE LA POLICE POUR TOUTE LA PAGE */
{
    
    font-family:'Raleway',Arial, Helvetica, sans-serif  ;
    margin:0px;
    padding:0px;
}
h1
{
    font-size: 22px;
}


/* Conteneur du header */
.container
{
    margin-left: 3.5%;
    margin-right: 3.5%;
    
}

/* HEADER */
header
{
    display: flex;
    
    justify-content: space-between;
    margin-top: 49px;
    
}

header nav ul
{   
    width: 447px;
    padding:0%;
    list-style: none;
    
    display: flex;
    justify-content: space-between;
}

header nav ul li a
{
    text-decoration: none;
    color: black;
    padding-top: 46px;
    padding-right: 30px;
    padding-left: 33.5px;
    
    
    
}
header nav ul li:nth-child(3) a 
{
    color: #0065fc;;
    font-weight: bold;
    padding-right: 24px;
    
    
}




header nav ul li a:hover
{
    color: #0065fc;
    border-top: 3px solid;
    
    border-top-color:  #0065fc;
}

/*  RECHERCHE*/

#recherche
{
    margin-top: 45px;
}
.precherche1
{
    margin-top: 14px;
}
.h1recherche1
{
    margin-bottom: 0px; ;
}

.logo
{
background-color: #F2F2F2;
border-bottom-left-radius: 20px ;
border-top-left-radius: 20px;
width: 52px;
height: 52px;

display: flex; 
align-items: center;
justify-content: center;


}
.champ
{
    display: flex;
    margin-top: 17px;
}
.champ div:nth-of-type(2) input 
{
    font-weight: bold;                  /* CHAMP TEXT */
    width: 234px;
    height: 48px;
    font-size: 16px;
    
    border:1px solid #F2F2F2;
    
}
   

.champ div:nth-of-type(3) input
{
    width: 135px;
    height: 53px;                       /* BOUTTON RECHERCHER*/
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#0065fc;
    color:white;
    font-weight: bold;
    font-size: 16px;
    border:1px solid #F2F2F2;
}
.champ div:nth-of-type(3) input:hover
{
    cursor: pointer;
    font-size: 17px;
}
.filtres
{
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    width: 930px;
}
.bordfiltre
{
    display: flex;
    border: 2px solid #d9d9d9;
    border-radius: 0px 30px 30px 0px;
    border-left: none;
    height: 46px;
    
}

.PosFilter
{
    display: flex;
   
}
.logfiltres
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 30px;
    color: #0065fc;
    border:none;
    position: relative;
    left: 22px;
}
.ContainerFilters
{   
    display:flex;
    align-items: baseline;
   
} 
.ContainerFilters h4
{
   font-size: 18.5px; 
}

.filterbuttons
{
    
    align-self: center;
    height: 46px;
    border:none;
    background-color:transparent;
    padding-left: 30px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 18px;
}
.info
{
    display: flex;
    justify-content: space-between;
    width: 446px;
    margin-top: 35px;
}
.info div 
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
    width: 25px;
    height:25px;
    border:1px solid #d9d9d9;
    border-radius: 20px;
}
.info p
{
    align-self: center;
    font-size: 15.5px;
}



/* HEBERGEMENTS*/
#hebergements
{
    display: flex;
    margin-top: 37px;
}

.divhebergements
{
    width: 798px;
    height: 533px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding : 47px 33px 46px 50px;
}

.divhebergements h1
{
    font-size: 22.5px;
    display: flex;
    
    
}
.lieuxhebergements
{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 428px;
   
    
}
.lieuisole
{
    text-decoration: none;
    color: black;
    width: 236px ;
    height: 184px;
    padding:5px 5px 10px 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #d9d9d9;
   
    
}

.legendeheb
{
    margin-top: 12px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin-left: 11px;
    height: 59px;
    
    
    
}
.ImHeb
{
    height: 114px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    
    
}
.PosImHeb
{
    height: 114px;
    width: 246px;
    object-fit: cover;
    position:relative;
    right: 6px;
    
    
    
    
    
}
.legendeheb h4
{
    font-size: 16.5px;
    
    
}
.legendeheb p
{
    font-size: 13.5px;
    
    
    
    
}
.legendeheb div
{
    font-size: 11px;
    
    
}
.filledstarcolor
{
    color:#0065fc;
}
.emptystarcolor
{
    color:#d9d9d9;
}
.affich
{
    margin-top: 40px;
    cursor: pointer;
    display: inline-block;
    font-size: 19px;
}
.divpopu
{
    
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 345px;
    height: 548px;
    padding:42px 38px 30px 38px;
    margin-left: 40px;
}
.titrepopu
{
    display: flex;
    justify-content: space-between;
    
}
.titrepopu h1, .titrepopu i
{
    font-size: 22.5px;
}
.hebergementspopu
{
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 498px;
}

.popisole
{
    text-decoration: none;
    color: black;
    width: 338px ;
    height: 134px;
    padding:5px 0px 5px 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px  #d9d9d9;
    display: flex;
}

.ImPop
{
    
    width: 127px;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
    
}
.PosImPop
{
    height: 144px;
    width: 132px;
    object-fit: cover;
    position:relative;
    right: 6px;
}
.legendepop
{
    margin : 14px 0px 9px 21px;
    width: 145px;
    height: 115px;
    
    display: flex;
    flex-direction: column;
    
    
    
    height: 111px;
}
.legendepop h4
{
    font-size: 16.5px;
    
    
}
.legendepop p
{
    margin-top: 5px;
    font-size: 13.5px;
    margin-bottom: 35px;
    
    
    
    
}
.legendepop div
{
    font-size: 11px;
    
    
    
}



/*********ACTIVITIES************/


#activities
{
    margin-top: 65px;
}
#activities h1
{
    font-size: 22.5px;
    
}
.divActivities
{
    width: 1337px;
    height: 445px;
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
}
.divActivities a
{
    text-decoration: none;
    color: black;

    
}
.act1,.act4
{
    width: 302px;
    height: 446px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #e3e3e3;
}
.ImActBig
{
    
    height: 391px;
    overflow: hidden;
    border-radius:20px 20px 0px 0px ;
}
.PosImActBig
{
    width: 302px;
    height: 446px;
    object-fit: cover;
     
    
}
.divActivities h4
{
    margin-top: 18px;
    margin-left: 18px;
    font-size: 16.5px;
    
}
.act2-3, .act5-6
{
    width: 302px;
    height: 446px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.a2
{
    height: 238px;
    width: 302px;
    box-shadow: 0px 0px 15px #e3e3e3;
    border-radius: 20px;
}

.ImAct2
{
    
    height: 182px;
    overflow: hidden;
    border-radius:20px 20px 0px 0px ;
}
.PosImAct2
{
    width: 303px;
    height: 238px;
    object-fit: cover;
    
  
    
}
.a3
{
    height: 164px;
    width: 302px;
    box-shadow: 0px 0px 15px #e3e3e3;
    border-radius: 20px;
}
.ImAct3
{
    
    height: 109px;
    overflow: hidden;
    border-radius:20px 20px 0px 0px ;
}
.PosImAct3
{
    width: 303px;
    height: 164px;
    object-fit: cover;
    
  
    
}
.a5
{
    height: 197px;
    width: 302px;
    box-shadow: 0px 0px 15px #e3e3e3;
    border-radius: 20px;
}
.ImAct5
{
    
    height: 142px;
    overflow: hidden;
    border-radius:20px 20px 0px 0px ;
}
.PosImAct5
{
    width: 303px;
    height: 197px;
    object-fit: cover;
    
    
    
}
.a6
{
    height: 209px;
    width: 302px;
    box-shadow: 0px 0px 15px #e3e3e3;
    border-radius: 20px;
}
.ImAct6
{
    
    height: 153px;
    overflow: hidden;
    border-radius:20px 20px 0px 0px ;
}
.PosImAct6
{
    width: 353px;
    height: 209px;
    object-fit: cover;
    
   
}


/* FOOTER */

footer
{
    
    background-color: #F2F2F2;
    height: 118px;
    margin-top: 53px;
    display: flex;
    
    padding:50px;
}
footer ul li a
{
    text-decoration: none;
    color: black;
}
footer ul li 
{
    list-style: none;
    padding-bottom: 9px;
}
footer h4
{
    
    font-size: 18px;
    margin-bottom: 23px;
}
.apropos
{
    margin-right:15%;
}
.noshebergements
{
    margin-right: 19%;
}
footer ul li a:hover
{
    font-weight: bold;
    
}


/***** Animation *****/
.filtres div input:hover 
{
    color:#0065fc;
    transform: scale(1.05);
    
}
.a2:hover , .a3:hover ,.a5:hover,.a6:hover, .act1:hover,.act4:hover , .popisole:hover , .lieuisole:hover
{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px gray;
}



                                        /*****RESPONSIVE DESIGN******/



                                        /******** MAX WIDTH 1439 *****/

@media screen and (max-width:1439px)
{
    #hebergements
    {
       
        
        flex-direction:column-reverse;
    }
    .divhebergements,.divpopu 
    {
        margin: 0 auto;
    }
    .divpopu
    {
        width :798px;
        height: 266px;
        margin-bottom: 20px;
        
    }
    .hebergementspopu
    {
        display: flex;
        flex-direction: row;

    }
    .popisole
    {
        text-decoration: none;
        color: black;
        width: 236px ;
        height: 200px;
        padding:5px 5px 10px 5px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 5px 5px 10px #d9d9d9;
        display: block;
        
       

    }
    .ImPop
    {
        height: 114px;
        overflow: hidden;
        border-radius: 20px 20px 0px 0px;
        width: auto;
    
    }
    .PosImPop
    {
        height: 114px;
        width: 246px;
        object-fit: cover;
        position:relative;
        right: 6px;
    }
    .legendepop
    {
        margin: 12px 0px 0px 11px;
        width: auto;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    
        height: 59px;
    }
    .legendepop p 
    {
        margin-bottom: 5px;
    }
    
    .divActivities
    {
        width: 660px;
        height: 912px;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    #activities h1
    {   
        width: 798px;
        margin: 10px auto;

    }

}
            /******** MAX WIDTH 980px *****/

@media screen and (max-width:980px)
{

    .filtres
    {
        
        width: 700px;
        flex-wrap: wrap;
    }
    .PosFilter
    {
        margin-top: 5px;
        
    }


}

        /******** MAX WIDTH 930px *****/
@media screen and (max-width:930px)
{
    .divpopu
    {
        
        width: 595px;
        height: 496px;
        
    }
    .hebergementspopu
    {
        flex-wrap: wrap;
        width: 530px;
        margin: 26px auto 0px auto;
    }
    .divhebergements
    {
        width: 595px;
        height: 688px;
    }
    .lieuxhebergements
    {
        flex-wrap: wrap;
        align-content: space-between;
        height: 613px;
        width: 530px;
        margin: 20px auto 0px auto;
    }
    .affich
    {
        align-self: flex-end;
    }
    #activities h1 
    {
        width: 595px;
    }
}