* /* INITIALISATION DE LA POLICE POUR TOUTE LA PAGE */
{
    
    font-family:'Raleway',Arial, Helvetica, sans-serif  ;
    margin:0px;
    padding:0px;
    
}
h1
{
    font-size: 22.3px;
}




/* Conteneur du header */
.container
{
    margin-left: 3.5%;
    margin-right: 3.5%;
    
}

/* HEADER */
header
{
    display: flex;
    
    justify-content: space-between;
    margin-top: 49px;
    
}
.logoreservia
{
    height: 45px;
    width: 97px;
}
nav
{
    margin-left: auto;
}

header nav ul
{   
   
    padding:0%;
    list-style: none;
    
    display: flex;
    
}

header nav ul li a
{
    text-decoration: none;
    color: black;
    padding-top: 46px;
    padding-right: 30px;
    padding-left: 33.5px;
    
    
    
}
.sign
{
    text-decoration: none;
    color: #0065fc;;
    font-weight: bold;
    margin-left: 33.5px;
    
    
    
}




header nav ul li a:hover
{
    color: #0065fc;
    border-top: 3px solid;
    
    border-top-color:  #0065fc;
}

/*  RECHERCHE*/

#recherche
{
    margin-top: 45px;
}
.precherche1
{
    margin-top: 14px;
}
.h1recherche1
{
    margin-bottom: 0px; ;
}

.logo
{
background-color: #F2F2F2;
border-bottom-left-radius: 20px ;
border-top-left-radius: 20px;
width: 52px;
height: 52px;

display: flex; 
align-items: center;
justify-content: center;


}
.champ
{
    display: flex;
    margin-top: 17px;
}
.champ div:nth-of-type(2) input 
{
    font-weight: bold;                  /* CHAMP TEXT */
    width: 234px;
    height: 48px;
    font-size: 16px;
    
    border:1px solid #F2F2F2;
    
}
   

.champ div:nth-of-type(3) button
{
    width: 135px;
    height: 53px;                       /* BOUTTON RECHERCHER*/
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#0065fc;
    color:white;
    font-weight: bold;
    font-size: 16px;
    border:1px solid #F2F2F2;
}
.champ div:nth-of-type(3) button:hover
{
    cursor: pointer;
    font-size: 17px;
}
.searchlog
{
    display: none;
}
.filtres
{
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    width: 930px;
}

.bordfiltre
{
    display: flex;
    border: 2px solid #d9d9d9;
    border-radius: 40px;
    border-left: none;
    height: 46px;
    
}

.PosFilter
{
    display: flex;
   
}
.logfiltres
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 30px;
    color: #0065fc;
    border:none;
    position: relative;
    bottom: 2px;
    
}


.ContainerFilters
{   
    display:flex;
    align-items: baseline;
   
} 
.ContainerFilters h4
{
   font-size: 18.5px; 
   margin-right: 32px;
}

.filterbuttons
{
    
    align-self: center;
    height: 46px;
    border:none;
    background-color:transparent;
    padding-left: 5px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 18px;
}
.info
{
    display: flex;
    
    max-width: 446px;
    margin-top: 35px;
}
.info div 
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
    width: 25px;
    height:25px;
    border:1px solid #d9d9d9;
    border-radius: 20px;
}
.info p
{
    align-self: center;
    font-size: 15.5px;
    margin-left: 12px;
}



/********************** HEBERGEMENTS********************/
#hebergements
{
    display: flex;
    margin-top: 37px;
}

.divhebergements
{
    width: 60%;
    height: 533px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding : 47px 33px 46px 50px;
}

.divhebergements h1
{
    font-size: 22.5px;
    display: flex;
    
    
}
.lieuxhebergements
{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 428px;
   
    
}
.lieuisole
{
    text-decoration: none;
    color: black;
    width: 30% ;
    height: 184px;
    padding:5px 5px 10px 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #d9d9d9;
   
    
}

.legendeheb
{
    margin-top: 12px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin-left: 11px;
    height: 59px;
    
    
    
}
.ImHeb
{
    height: 114px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    
    
}
.PosImHeb
{
    height: 114px;
    width: 104%;
    object-fit: cover;
    position:relative;
    right: 6px;
    
    
    
    
    
}
.legendeheb h4
{
    font-size: 16.5px;
    
    
}
.legendeheb p
{
    font-size: 13.5px;
    
    
    
    
}
.legendeheb div
{
    font-size: 11px;
    
    
}
.filledstarcolor
{
    color:#0065fc;
}
.emptystarcolor
{
    color:#d9d9d9;
}
.affich
{
    margin-top: 40px;
    cursor: pointer;
    
    font-size: 19px;
}
.divpopu
{
    
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 26%;
    height: 548px;
    padding:42px 38px 30px 38px;
    margin-left: 40px;
}
.titrepopu
{
    display: flex;
    justify-content: space-between;
    
}
.titrepopu h1, .titrepopu i
{
    font-size: 22.5px;
}
.hebergementspopu
{
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 498px;
}

.popisole
{
    text-decoration: none;
    color: black;
    width: 100% ;
    height: 134px;
    padding:5px 0px 5px 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px  #d9d9d9;
    display: flex;
}

.ImPop
{
    
    width: 40%;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
    
}
.PosImPop
{
    height: 144px;
    width: 100%;
    object-fit: cover;
    position:relative;
    right: 6px;
}
.legendepop
{
    margin : 14px 0px 9px 21px;
    width: 40%;
    height: 115px;
    
   
    
    
    
    
}
.legendepop h4
{
    font-size: 16px;
    
    
}
.legendepop p
{
    margin-top: 5px;
    font-size: 13.5px;
    margin-bottom: 35px;
    
    
    
    
}
.legendepop div
{
    font-size: 11px;
    
    
    
}



/************************ACTIVITIES*************************/


#activities
{
    margin-top: 65px;
}
#activities h1
{
    font-size: 22.5px;
    
}
.divActivities
{
    width: 100%;
    height: 445px;
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
}
.divActivities a
{
    text-decoration: none;
    color: black;

    
}
.act1,.act4
{
    width: 22.5%;
    height: 446px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #e3e3e3;
}
.ImActBig
{
    
    height: 391px;
    overflow: hidden;
    border-radius:20px 20px 0px 0px ;
}
.PosImActBig
{
    width: 100%;
    height: 446px;
    object-fit: cover;
     
    
}
.divActivities h4
{
    margin-top: 18px;
    margin-left: 18px;
    font-size: 16.5px;
    
}
.act2-3, .act5-6
{
    width: 22.5%;
    height: 446px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.a2
{
    height: 238px;
    width: 100%;
    box-shadow: 0px 0px 15px #e3e3e3;
    border-radius: 20px;
}

.ImAct2
{
    
    height: 182px;
    overflow: hidden;
    border-radius:20px 20px 0px 0px ;
}
.PosImAct2
{
    width: 100%;
    height: 238px;
    object-fit: cover;
    
  
    
}
.a3
{
    height: 164px;
    width: 100%;
    box-shadow: 0px 0px 15px #e3e3e3;
    border-radius: 20px;
}
.ImAct3
{
    
    height: 109px;
    overflow: hidden;
    border-radius:20px 20px 0px 0px ;
}
.PosImAct3
{
    width: 100%;
    height: 164px;
    object-fit: cover;
    
  
    
}
.a5
{
    height: 197px;
    width: 100%;
    box-shadow: 0px 0px 15px #e3e3e3;
    border-radius: 20px;
}
.ImAct5
{
    
    height: 142px;
    overflow: hidden;
    border-radius:20px 20px 0px 0px ;
}
.PosImAct5
{
    width: 100%;
    height: 197px;
    object-fit: cover;
    
    
    
}
.a6
{
    height: 209px;
    width: 100%;
    box-shadow: 0px 0px 15px #e3e3e3;
    border-radius: 20px;
}
.ImAct6
{
    
    height: 153px;
    overflow: hidden;
    border-radius:20px 20px 0px 0px ;
}
.PosImAct6
{
    width: 100%;
    height: 209px;
    object-fit: cover;
    
   
}


/* FOOTER */

footer
{
    
    background-color: #F2F2F2;
    height: 118px;
    margin-top: 53px;
    display: flex;
    
    padding:50px;
}
footer ul li a
{
    text-decoration: none;
    color: black;
}
footer ul li 
{
    list-style: none;
    padding-bottom: 9px;
}
footer h4
{
    
    font-size: 18px;
    margin-bottom: 23px;
}
.apropos
{
    margin-right:15%;
}
.noshebergements
{
    margin-right: 19%;
}
footer ul li a:hover
{
    font-weight: bold;
    
}


/***** Animation *****/
.filtres div input:hover 
{
    color:#0065fc;
    transform: scale(1.05);
    
}
.a2:hover , .a3:hover ,.a5:hover,.a6:hover, .act1:hover,.act4:hover , .popisole:hover , .lieuisole:hover
{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px gray;
}



                                        /*****RESPONSIVE DESIGN******/



                                        /******** MAX WIDTH 1439 *****/

@media screen and (max-width:1439px)
{
    #hebergements
    {
       
        
        flex-direction:column-reverse;
    }
    .divhebergements
    {
        width: 800px;
    }
    
    .divhebergements,.divpopu 
    {
        margin: 0 auto;
    }
    .divpopu
    {
        width: 807px;
        
        height: 266px;
        margin-bottom: 20px;
        
    }
    .hebergementspopu
    {
        display: flex;
        flex-direction: row;

    }
    .popisole
    {
        text-decoration: none;
        color: black;
        width: 236px ;
        height: 200px;
        padding:5px 5px 10px 5px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 5px 5px 10px #d9d9d9;
        display: block;
        
       

    }
    .ImPop
    {
        height: 114px;
        overflow: hidden;
        border-radius: 20px 20px 0px 0px;
        width: auto;
    
    }
    .PosImPop
    {
        height: 114px;
        width: 246px;
        object-fit: cover;
        position:relative;
        right: 6px;
    }
    .legendepop
    {
        margin: 12px 0px 0px 11px;
        width: auto;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    
        height: 59px;
    }
    .legendepop p 
    {
        margin-bottom: 5px;
    }
    
    .divActivities
    {
        width: 807px;
        height: 950px;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    #activities h1
    {   
        
        margin: 10px auto;

    }
    .act1,.act4,.PosImActBig,.act2-3,.act5-6,.a2,.PosImAct2,.a3,.PosImAct3,.a5,.PosImAct5,.a6,.PosImAct6
    {
        width: 380px;
    }


}
            /******** MAX WIDTH 980px *****/

@media screen and (max-width:980px)
{

    .filtres
    {
        
        width: 700px;
        flex-wrap: wrap;
    }
    .PosFilter
    {
        margin-top: 5px;
        
    }


}

        /******** MAX WIDTH 930px *****/
@media screen and (max-width:930px)
{
    .divpopu
    {
        
        width: 595px;
        height: 496px;
        
    }
    .hebergementspopu
    {
        flex-wrap: wrap;
        width: 530px;
        margin: 26px auto 0px auto;
    }
    .divhebergements
    {
        width: 595px;
        height: 688px;
    }
    .lieuxhebergements
    {
        flex-wrap: wrap;
        align-content: space-between;
        height: 613px;
        width: 530px;
        margin: 20px auto 0px auto;
    }
   
    
    .lieuisole
    {
        width: 236px;
    }
    .divActivities
    {
        width: 650px;
    }
    .act1,.act4,.PosImActBig,.act2-3,.act5-6,.a2,.PosImAct2,.a3,.PosImAct3,.a5,.PosImAct5,.a6,.PosImAct6
    {
        width: 302px;
    }
    

}

/******** MAX WIDTH 720px ( MOBILE) *****/
@media screen and (max-width:720px)
{
    /******** RESPONSIVE HEADER *******/
    header
    {
        height: 120px;
        margin-top: 0px;

    }
    .logoreservia
    {
        height: 45px;
        margin-left: 3.5%;
        
    }
    nav 
    {
        margin-top: 30px;
        height: 45px;
        align-self: flex-end;
        width: 100%;
        position: absolute;
    }
    header li 
    {
        width: 50%;
        text-align: center;
        
        
        
        
    }
    header nav ul li a 
    {
        display: block;
        width: 100%;
        border-bottom: 3px solid #F2F2F2;
        padding:0px;
        padding-bottom: 12px;
    }
    header nav ul li a:hover
    {
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }

    .sign
    {
        height: 45px;
        margin-right: 3.5%;
        align-self: center;
        margin-bottom: 45px;
    }
    #recherche
    {
        margin-top: 15px;
    }



    /********** RESPONSIVE CHAMP **********/
    .champ
    {
        margin-left:20px ;
    }
    button
    {
        
        position:relative;
        right: 20px;
        bottom: 1px;
    }
    button p
    {
        display: none;
    }
    .searchlog
    {
        display: block;
    }
    .champ div:nth-of-type(2)
    {
        width: 67%;
    }
    .champ div:nth-of-type(2) input
    {
        width: 100%;
    }
    .champ div:nth-of-type(3) button
    {
        width: 51px;
        border-radius: 15px;
        
    }
    
    .h1recherche1,.precherche1
    {
        margin-left: 20px;
    }



    /***** RESPONSIVE FILTRE********/
    

    .ContainerFilters
    {
        flex-direction: column;
        margin-top: 42px;
    }
    .ContainerFilters h4
    {
        margin-left: 22px;
    }
    .filtres
    {
        margin-top: 18px;
        width: 90%;
        margin-left: 22px;
        justify-content: initial;
    }
    .PosFilter
    {
        margin-right: 5px;
    }
    .info
    {
        margin-left: 22px;
        
    }
    .info div 
    {
        min-height: 27px;
        min-width: 27px;
    }



    /************** RESPONSIVE POPULAIRE*******/
   
    .container
    {
        margin: 0px;
    }
    
    .divpopu
    {
        height: 580px;
        width: 100%;
        border-radius: 0px;
        padding:0;
    }
    .popisole
    {
        text-decoration: none;
        color: black;
        width: 100% ;
        height: 134px;
        padding:5px 0px 5px 5px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 5px 5px 10px  #d9d9d9;
        display: flex;
        margin: 0 auto;
    }
    
    .ImPop
    {
        height: auto;
        width: 40%;
        overflow: hidden;
        border-radius: 20px 0px 0px 20px;
        
    }
    .PosImPop
    {
        height: 144px;
        width: 100%;
        object-fit: cover;
        position:relative;
        right: 6px;
    }
    .legendepop
    {
        margin : 14px 0px 9px 21px;
        width: 40%;
        height: 115px;
        
        display: flex;
        flex-direction: column;
        
        
        
       
    }
    .hebergementspopu
    {
        height: 450px;
        margin: 26px auto 35px auto;
        width: 95%;
    }
    .legendepop h4
    {
        font-size: 16.5px;
    
    
    }
    .legendepop p
    {
        margin-top: 5px;
        font-size: 13.5px;
        margin-bottom: auto;
        
        
        
        
    }
    .legendepop div
    {
        font-size: 11px;
        
        
        
    }
    .titrepopu
    {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 42px;
    }
    /************** RESPONSIVE HEBERGEMENTS*******/
    .divhebergements
    {
        width: 100%;
        background-color: transparent;
        height: 1368px;
        flex-direction: column;
        padding: 0px;
        
    }
    .divhebergements h1
    {
        margin-left: 21px;
    }
    .affich
    {
        margin-left: 21px;
    }
    .lieuxhebergements
    {
        height: 1255px;
        width: 95%;
    }
    .lieuisole
    {
        width: 100% ;
    }
    .ImHeb
    {
        height: 114px;
        overflow: hidden;
        border-radius: 20px 20px 0px 0px;
        
    }
    .PosImHeb
    {
        height: 114px;
        width: 104%;
        object-fit: cover;
        position:relative;
        right: 6px;
    }


    /******  RESPONSIVE ACTIVITES A MARSEILLES *****/
    #activities h1
    {
        margin: 0px 0px 30px 22px ;
    }
    #activities
    {
        width: 100%;
    }
    .divActivities
    {
        height: 1258px;
        width: 95%;
        justify-content: space-between;
        flex-direction: column;
    }
    .ImActBig , .ImAct2 , .ImAct3 , .ImAct5 , .ImAct6
    {
        height: 134px;
    }
    .PosImActBig , .PosImAct2 , .PosImAct3 , .PosImAct5 , .PosImAct6
    {
        width: 100%;
        height: 190px;
    }
    .act1 , .a2 ,.a3, .act4 , .a5, .a6
    {
        height: 190px;
        width: 100%;
    }
    .act5-6, .act2-3
    {
        width: 100%;
        height: 403px;
        
    }


    footer
    {
        margin: 48px 0px 0px 0px;
        flex-direction: column;
        height: 486px;
        padding: 0px;


    }
    .apropos
    {
        margin-top: 49px ;
        margin-left: 7.73%;
    }
    .noshebergements
    {
        margin-top: 40px;
        margin-left: 7.73%;
        
    }
    .assistance
    {
        margin-top: 45px;
        margin-left: 7.73%;

    }


}
