* /* INITIALISATION DE LA POLICE POUR TOUTE LA PAGE ET RESET DES MARGES ET DES PADDINGS*/
{
    
    font-family:'Raleway',Arial, Helvetica, sans-serif  ;
    margin:0px;
    padding:0px;
    
}
h1
{
    font-size: 22.3px;
}




/* Conteneur du header */
.container
{
    margin-left: 3.5%;
    margin-right: 3.5%;
    
}

                        /********* HEADER ***********/
header
{
    display: flex;
    
    justify-content: space-between;
    margin-top: 49px;
    
}
header img
{
    height: 45px;
    width: 97px;
}
/***** ERGONOMIE DU CHAMP DE NAVIGATION ****/
nav
{
    margin-left: auto;
}


header nav ul
{   
   
    padding:0%;
    list-style: none;
    
    display: flex;
    
}

header nav ul li a
{
    text-decoration: none;
    color: black;
    padding-top: 46px;
    padding-right: 30px;
    padding-left: 33.5px;
    
    
    
}




.active
{
    
    border-top: 3px solid;
    
    border-top-color:  #0065fc;
}

header nav ul li a:hover
{
    color: #0065fc;
    border-top: 3px solid;
    
    border-top-color:  #0065fc;
    
}

/***** LIEN S'INSCRIRE****/

.sign
{
    text-decoration: none;
    color: #0065fc;;
    font-weight: bold;
    margin-left: 33.5px;
    
    
    
    
}
                /*****  RECHERCHE*****/

#search
{
    margin-top: 45px;
}
.p-search
{
    margin-top: 14px;
}
.h1-search
{
    margin-bottom: 0px; ;
}

/******* MISE EN FORME DE LA  BARRE DE RECHERHE ******/
.logo-map
{
background-color: #F2F2F2;
border-bottom-left-radius: 20px ;
border-top-left-radius: 20px;
width: 52px;                        /*******LOGO LOCALISATION*****/
height: 52px;

display: flex; 
align-items: center;
justify-content: center;


}
.search-box
{
    display: flex;
    margin-top: 17px;
}
.search-box input 
{
    font-weight: bold;                  /* CHAMP TEXT */
    width: 234px;
    height: 48px;
    font-size: 16px;
    
    border:1px solid #F2F2F2;
    
}
   

.search-box button
{
    width: 135px;
    height: 53px;                       /* BOUTTON RECHERCHER*/
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#0065fc;
    color:white;
    font-weight: bold;
    font-size: 16px;
    border:1px solid #F2F2F2;
}
.search-box button:hover
{
    cursor: pointer;
    font-size: 17px;
}
.search-logo
{
    display: none;
}



/****************** ERGONOMIE DES FILTRES ************/



.filters
{
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
    width: 930px;
}

.border-filters
{
    display: flex;
    border: 2px solid #d9d9d9;  /***** BORDURE DES FILTRES*****/
    border-radius: 40px;
    border-left: none;
    height: 46px;
    
}


.logo-filters
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF; /****** POSITIONNEMENT ET MISE EN FORME DES LOGOS FILTRES ***/
    border-radius: 30px;
    color: #0065fc;
    border:none;
    position: relative;
    bottom: 2px;
    
}


.container-filters
{   
    display:flex;
    align-items: baseline;
   
} 
.container-filters h4
{
   font-size: 18.5px; 
   margin-right: 32px;
}

.filters-buttons
{
    
    align-self: center;
    height: 46px;
    border:none;
    background-color:transparent;
    padding-left: 5px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 18px;
}
.filters div input:hover 
{
    color:#0065fc;
    transform: scale(1.05);
    
}
.info
{
    display: flex;
    
    max-width: 446px;
    margin-top: 35px;
}
.info i 
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;     /***** logo d'information ****/
    width: 25px;
    height:25px;
    border:1px solid #d9d9d9;
    border-radius: 20px;
}
.info p
{
    align-self: center;
    font-size: 15.5px;
    margin-left: 12px;
}



                        /********************** HEBERGEMENTS********************/



/******* PARTIE HEBERGEMENTS A MARSEILLES ******/

#hebergements
{
    display: flex;
    margin-top: 37px;
}

.divhebergements
{
    width: 60%;
    height: 533px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding : 47px 33px 46px 50px;
}

.divhebergements h1
{
    font-size: 22.5px;
    display: flex;
    
    
}
.lieux-hebergements
{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /****** FLEXBOX DES DIFFERENTS HEBERGEMENTS ****/
    align-content: space-between;
    height: 428px;
   
    
}
.lieu-isole
{
    text-decoration: none;
    color: black;
    width: 30% ;
    height: 184px;
    padding:5px 5px 10px 5px; /***** CASE DES HEBERGEMENTS UNIQUE*****/
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #d9d9d9;
   
    
}

.description-heb
{
    margin-top: 12px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin-left: 11px;
    height: 59px;
    
    
    
}


/***** POSITIONNEMENT DES IMAGES DES HEBERGEMENTS***/
.image-heb
{
    height: 114px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    
    
}
.pos-image-heb
{
    height: 114px;
    width: 104%;
    object-fit: cover;
    position:relative;
    right: 6px;
    
    
    
    
    
}
.description-heb h4
{
    font-size: 16.5px;
    
    
}
.description-heb p
{
    font-size: 13.5px;
    
    
    
    
}
.description-heb div
{
    font-size: 11px;
    
    
}
.filled-star-color
{
    color:#0065fc;
}
.empty-star-color
{
    color:#d9d9d9;
}
.affich
{
    margin-top: 40px;
    cursor: pointer;
    
    font-size: 19px;
}

/***** PARTIE LES PLUS POPULAIRES****/

.divpopu
{
    
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 26%;
    height: 548px;
    padding:42px 38px 30px 38px;
    margin-left: 40px;
}
.title-popu
{
    display: flex;
    justify-content: space-between;
    
}
.title-popu h1, .title-popu i
{
    font-size: 22.5px;
}
.hebergements-popu
{
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /****** FLEXBOX DES PLUS POPULAIRES ****/
    height: 498px;
}

.pop-isole
{
    text-decoration: none;
    color: black;
    width: 100% ;
    height: 134px;
    padding:5px 0px 5px 5px;
    background-color: white;    /***** CASE DES PLUS POPULAIRES UNIQUE*****/
    border-radius: 20px;
    box-shadow: 5px 5px 10px  #d9d9d9;
    display: flex;
}



/***** POSITIONNEMENT DES IMAGES DES PLUS POPULAIRES***/
.image-pop
{
    
    width: 40%;
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
    
}
.pos-image-pop
{
    height: 144px;
    width: 100%;
    object-fit: cover;
    position:relative;
    right: 6px;
}
.description-pop
{
    margin : 14px 0px 9px 21px;
    width: 40%;
    height: 115px;
    
   
    
    
    
    
}
.description-pop h4
{
    font-size: 16px;
    
    
}
.description-pop p
{
    margin-top: 5px;
    font-size: 13.5px;
    margin-bottom: 35px;
    
    
    
    
}
.description-pop div
{
    font-size: 11px;
    
    
    
}



                /************************ACTIVITES*************************/


#activites
{
    margin-top: 65px;
}
#activites h1
{
    font-size: 22.5px;
    
}
.divactivites
{
    width: 100%;
    height: 445px;
    margin-top: 27px;   /*** FLEXBOX DES ACTIVITES***/
    display: flex;
    justify-content: space-between;
}
.divactivites a
{
    text-decoration: none;
    color: black;

    
}
.act1,.act4
{
    width: 22.5%;
    height: 446px;
    border-radius: 20px;        /*** ACTIVITES 1 ET 4 UNIQUES***/
    box-shadow: 0px 0px 15px #e3e3e3;
}

/**** POSITIONNEMENT DES IMAGES DES ACTIVITES 1 ET 4 ***/
.image-act-big
{
    
    height: 391px;
    overflow: hidden;
    border-radius:20px 20px 0px 0px ;
}
.pos-image-act-big
{
    width: 100%;
    height: 446px;
    object-fit: cover;
     
    
}
.divactivites h4
{
    margin-top: 18px;
    margin-left: 18px;
    font-size: 16.5px;
    
}
.act2-3, .act5-6
{
    width: 22.5%;
    height: 446px;   /****** FLEXBOX DES ACTIVITES 2 ET 3 ET DES ACTIVITES 5 ET 6***/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
/****** POSITIONNEMENT DES IMAGES ET DIMENSIONNEMENT DES AUTRES ACTIVITES****/
.a2
{
    height: 238px;
    width: 100%;
    box-shadow: 0px 0px 15px #e3e3e3;
    border-radius: 20px;
}

.image-act-2
{
    
    height: 182px;
    overflow: hidden;
    border-radius:20px 20px 0px 0px ;
}
.pos-image-act-2
{
    width: 100%;
    height: 238px;
    object-fit: cover;
    
  
    
}
.a3
{
    height: 164px;
    width: 100%;
    box-shadow: 0px 0px 15px #e3e3e3;
    border-radius: 20px;
}
.image-act-3
{
    
    height: 109px;
    overflow: hidden;
    border-radius:20px 20px 0px 0px ;
}
.pos-image-act-3
{
    width: 100%;
    height: 164px;
    object-fit: cover;
    
  
    
}
.a5
{
    height: 197px;
    width: 100%;
    box-shadow: 0px 0px 15px #e3e3e3;
    border-radius: 20px;
}
.image-act-5
{
    
    height: 142px;
    overflow: hidden;
    border-radius:20px 20px 0px 0px ;
}
.pos-image-act-5
{
    width: 100%;
    height: 197px;
    object-fit: cover;
    
    
    
}
.a6
{
    height: 209px;
    width: 100%;
    box-shadow: 0px 0px 15px #e3e3e3;
    border-radius: 20px;
}
.image-act-6
{
    
    height: 153px;
    overflow: hidden;
    border-radius:20px 20px 0px 0px ;
}
.pos-image-act-6
{
    width: 100%;
    height: 209px;
    object-fit: cover;
    
   
}
.a2:hover , .a3:hover ,.a5:hover,.a6:hover, .act1:hover,.act4:hover , .pop-isole:hover , .lieu-isole:hover
{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px gray;
}


                        /************ FOOTER *********************/

footer
{
    
    background-color: #F2F2F2;
    height: 118px;
    margin-top: 53px;
    display: flex;
    
    padding:50px;
}
footer ul li a
{
    text-decoration: none;
    color: black;
}
footer ul li 
{
    list-style: none;
    padding-bottom: 9px;
}
footer h4
{
    
    font-size: 18px;
    margin-bottom: 23px;
}
.a-propos
{
    margin-right:15%;
}
.nos-hebergements
{
    margin-right: 19%;
}
footer ul li a:hover
{
    font-weight: bold;
    
}







                                        /*****RESPONSIVE DESIGN******/

                              /***** (LAPTOP)******/

                                        /******** MAX WIDTH 1424 (LAPTOP) *****/

    @media screen and (min-width:1024px) and (max-width:1424px)
    {
        .description-pop h4
        {
            font-size: 13px;
        }
        .description-pop p
        {
            font-size: 12px;
            margin-bottom: 20px;
        }
        .description-pop div
        {
            font-size: 10px;
        }
        .description-heb h4
        {
            font-size: 15px;
        }
    }
    
    
                                /** MAX WIDTH 1024 PX **/
    @media screen and (max-width:1024px)
    { 
    /*** RESPONSIVE HEBERGEMENTS***/
    #hebergements
    {
       
        
        flex-direction:column-reverse;
    }
    .divhebergements
    {
        width: 800px;
    }
    
    .divhebergements,.divpopu 
    {
        margin: 0 auto;
    }
    .divpopu
    {
        width: 807px;
        
        height: 266px;
        margin-bottom: 20px;
        
    }
    .hebergements-popu
    {
        display: flex;
        flex-direction: row;

    }
    .pop-isole
    {
        text-decoration: none;
        color: black;
        width: 236px ;
        height: 200px;
        padding:5px 5px 10px 5px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 5px 5px 10px #d9d9d9;
        display: block;
        
       

    }
    .image-pop
    {
        height: 114px;
        overflow: hidden;
        border-radius: 20px 20px 0px 0px;
        width: auto;
    
    }
    .pos-image-pop
    {
        height: 114px;
        width: 246px;
        object-fit: cover;
        position:relative;
        right: 6px;
    }
    .description-pop
    {
        margin: 12px 0px 0px 11px;
        width: auto;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    
        height: 59px;
    }
    .description-pop p 
    {
        margin-bottom: 5px;
    }
    /*** RESPONSIVE ACTIVITES***/
    .divactivites
    {
        width: 807px;
        height: 950px;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    #activites
    {
        width: 807px;
        margin : 65px auto 0px auto;
    }
    #activites h1
    {   
        
        margin: 10px auto;

    }
    .act1,.act4,.pos-image-act-big,.act2-3,.act5-6,.a2,.pos-image-act-2,.a3,.pos-image-act-3,.a5,.pos-image-act-5,.a6,.pos-image-act-6
    {
        width: 380px;
    }


}
                                

                                /******** MAX WIDTH 930px( TABLETTE ) *****/
@media screen and (max-width:930px)
{
    .filters
    {
        
        width: 700px;
        flex-wrap: wrap;
    }
    .border-filters
    {
        margin-top: 5px;
        
    }
    /*** RESPONSIVE HEBERGEMENTS***/
    .divpopu
    {
        
        width: 595px;
        height: 496px;
        
    }
    .hebergements-popu
    {
        flex-wrap: wrap;
        width: 530px;
        margin: 26px auto 0px auto;
    }
    .divhebergements
    {
        width: 595px;
        height: 688px;
    }
    .lieux-hebergements
    {
        flex-wrap: wrap;
        align-content: space-between;
        height: 613px;
        width: 530px;
        margin: 20px auto 0px auto;
    }
   
    
    .lieu-isole
    {
        width: 236px;
    }

    /*** RESPONSIVE ACTIVITES***/
    .divactivites
    {
        width: 650px;
    }
    .act1,.act4,.pos-image-act-big,.act2-3,.act5-6,.a2,.pos-image-act-2,.a3,.pos-image-act-3,.a5,.pos-image-act-5,.a6,.pos-image-act-6
    {
        width: 302px;
    }
    #activites
    {
        width: 650px;
    }
    

}

                                /******** MAX WIDTH 720px ( MOBILE) *****/
@media screen and (max-width:720px)
{
    /******** RESPONSIVE HEADER *******/
    header
    {
        height: 120px;
        margin-top: 0px;

    }
    header img
    {
        height: 45px;
        margin-left: 3.5%;
        
    }
    nav 
    {
        margin-top: 30px;
        height: 45px;
        align-self: flex-end;
        width: 100%;
        position: absolute;
    }
    header li 
    {
        width: 50%;
        text-align: center;
        
        
        
        
    }
    header nav ul li a 
    {
        display: block;
        width: 100%;
        border-bottom: 3px solid #F2F2F2;
        padding:0px;
        padding-bottom: 12px;
    }
    .active
    {
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }
    header nav ul li a:hover
    {
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }

    .sign
    {
        height: 45px;
        margin-right: 3.5%;
        align-self: center;
        margin-bottom: 45px;
    }
    #search
    {
        margin-top: 15px;
    }



    /********** RESPONSIVE CHAMP DE RECHERCHE **********/
    .search-box
    {
        margin-left:20px ;
    }
    button
    {
        
        position:relative;
        right: 20px;
        bottom: 1px;
    }
    button span
    {
        display: none;
    }
    .search-logo
    {
        display: block;
    }
    .search-box input
    {
        width: 67%;
    }

    .search-box button
    {
        width: 51px;
        border-radius: 15px;
        
    }
    
    .h1-search,.p-search
    {
        margin-left: 20px;
    }



    /***** RESPONSIVE FILTRE********/
    

    .container-filters
    {
        flex-direction: column;
        margin-top: 42px;
    }
    .container-filters h4
    {
        margin-left: 22px;
    }
    .filters
    {
        margin-top: 18px;
        width: 90%;
        margin-left: 22px;
        justify-content: initial;
    }
    .border-filters
    {
        margin-right: 5px;
    }
    .info
    {
        margin-left: 22px;
        
    }
    .info i 
    {
        min-height: 27px;
        min-width: 27px;
    }



    /************** RESPONSIVE POPULAIRE*******/
   
    .container
    {
        margin: 0px;
    }
    
    .divpopu
    {
        height: 580px;
        width: 100%;
        border-radius: 0px;
        padding:0;
    }
    .pop-isole
    {
        text-decoration: none;
        color: black;
        width: 100% ;
        height: 134px;
        padding:5px 0px 5px 5px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 5px 5px 10px  #d9d9d9;
        display: flex;
        margin: 0 auto;
    }
    
    .image-pop
    {
        height: auto;
        width: 40%;
        overflow: hidden;
        border-radius: 20px 0px 0px 20px;
        
    }
    .pos-image-pop
    {
        height: 144px;
        width: 100%;
        object-fit: cover;
        position:relative;
        right: 6px;
    }
    .description-pop
    {
        margin : 14px 0px 9px 21px;
        width: 40%;
        height: 115px;
        
        display: flex;
        flex-direction: column;
        
        
        
       
    }
    .hebergements-popu
    {
        height: 450px;
        margin: 26px auto 35px auto;
        width: 95%;
    }
    .description-pop h4
    {
        font-size: 16.5px;
    
    
    }
    .description-pop p
    {
        margin-top: 5px;
        font-size: 13.5px;
        margin-bottom: auto;
        
        
        
        
    }
    .description-pop div
    {
        font-size: 11px;
        
        
        
    }
    .title-popu
    {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 42px;
    }
    /************** RESPONSIVE HEBERGEMENTS*******/
    .divhebergements
    {
        width: 100%;
        background-color: transparent;
        height: 1368px;
        flex-direction: column;
        padding: 0px;
        
    }
    .divhebergements h1
    {
        margin-left: 21px;
    }
    .affich
    {
        margin-left: 21px;
    }
    .lieux-hebergements
    {
        height: 1255px;
        width: 95%;
    }
    .lieu-isole
    {
        width: 100% ;
    }
    .image-heb
    {
        height: 114px;
        overflow: hidden;
        border-radius: 20px 20px 0px 0px;
        
    }
    .pos-image-heb
    {
        height: 114px;
        width: 104%;
        object-fit: cover;
        position:relative;
        right: 6px;
    }


    /******  RESPONSIVE ACTIVITES A MARSEILLES *****/
    #activites h1
    {
        margin: 0px 0px 30px 22px ;
    }
    #activites
    {
        width: 100%;
    }
    .divactivites
    {
        height: 1258px;
        width: 95%;
        justify-content: space-between;
        flex-direction: column;
    }
    .image-act-big , .image-act-2 , .image-act-3 , .image-act-5 , .image-act-6
    {
        height: 134px;
    }
    .pos-image-act-big , .pos-image-act-2 , .pos-image-act-3 , .pos-image-act-5 , .pos-image-act-6
    {
        width: 100%;
        height: 190px;
    }
    .act1 , .a2 ,.a3, .act4 , .a5, .a6
    {
        height: 190px;
        width: 100%;
    }
    .act5-6, .act2-3
    {
        width: 100%;
        height: 403px;
        
    }

    /*** RESPONSIVE FOOTER***/
    
    footer
    {
        margin: 48px 0px 0px 0px;
        flex-direction: column;
        height: 486px;
        padding: 0px;


    }
    .a-propos
    {
        margin-top: 49px ;
        margin-left: 7.73%;
    }
    .nos-hebergements
    {
        margin-top: 40px;
        margin-left: 7.73%;
        
    }
    .assistance
    {
        margin-top: 45px;
        margin-left: 7.73%;

    }


}
